[Unit]
Description=TechChallengeApp

[Service]
WorkingDirectory=/app/dist
ExecStart=/app/dist/TechChallengeApp serve
Restart=always

[Install]
WantedBy=multi-user.target
